.main-container {
  padding: 0.2% 0% 2% 0%;
}
.card {
  width: 45%;
  float: right;
  border-radius: 3px;
  box-shadow: 0px 7px 15px transparent;
}
.sbt-btn {
  width: 344px;
height: 52px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* identical to box height, or 32px */
cursor: pointer;
border: 1px solid transparent;
/* Solid Colours/Brand/Primary/Primary-500 */
margin:0rem;
color: #FFFFFF;;

/* Solid Colours/Standard/White */

background: #8247E5;
/* Black Shadows/Black E1 */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;
}
.sbt-btn:hover {
  background: #A673EF;
/* Black Shadows/Black E1 */
border: 1px solid transparent;

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.sbt-btn:focus-within {
  background: #8247E5;
/* State/Primary Focus */
border: 1px solid transparent;
outline: none;
box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
}
.nav{
  background-color: transparent;
}
.input {
  background: #FFFFFF;
/* Solid Colours/Brand/Gray/Gray-400 */

border: 1px solid #E2E4E8;
border-radius: 3px;
}
.input:active {
  outline: 0;
  border: 1px solid transparent;
  /* State/Primary Focus */
  
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
  border-radius: 3px;
  }
  .input:hover {
    border: 1px solid #E2E4E8;
  }
.input:focus-within {
outline: 0;
border: 1px solid transparent;
/* State/Primary Focus */

box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
border-radius: 3px;
}
.input:target{
  outline: 0;
  border: 1px solid transparent;
  /* State/Primary Focus */
  
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
  border-radius: 3px;
  }
.input:focus {
  outline: 0;
  border: 1px solid transparent;
  /* State/Primary Focus */
  
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
  border-radius: 3px;
  }
  .input:focus-visible {
    outline: 0;
    border: 1px solid transparent;
    /* State/Primary Focus */
    
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
    border-radius: 3px;
    }
.handle-title {
  background:radial-gradient(125.05% 114.12% at 15.58% 11.18%, #0A0822 0%, #1B1351 10.77%, #4E2BC3 42.71%, #A15EE6 64.52%, #FBEFFB 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 160%;
/* or 19px */
font-family: 'Poppins';
}
.label {
  font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 160%;
/* or 19px */
font-family: 'Poppins';
margin-bottom: 0.25rem;

/* Solid Colours/Brand/Dark Gray/Dark Gray-400 */

color: #525C76;
}
.link-title {
  font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 40px;
/* identical to box height, or 143% */


/* 🔹 Solid/Brand/Primary/Primary-500 */

color: #8247E5;

}
.title {
  text-align: center;
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
/* or 19px */
font-family: 'Poppins';

}
.container {
  max-width: 90% !important;
}

.wallet-address {
  color: white;
}

.list-items-artifacts {
  display: block;
}

.navbar-class {
  background-color: transparent !important;
  padding: 0.5rem 1.5rem;
}

.badge {
  margin-left: 5% !important;
}

.btn {
  margin-left: 5% !important;
}

.btn-success {
  background-color: #59cbb9 !important;
  color: black !important;
}

.btn-danger {
  background-color: #000 !important;
}

.badge-success {
  background-color: #59cbb9 !important;
  color: black !important;
}

.badge-danger {
  background-color: #000 !important;
}

.nav-link {
  font-style: normal;
font-weight: 600;
font-size: 14px;
/* identical to box height, or 143% */

font-family: 'Poppins';
/* 🔹 Solid/Brand/Primary/Primary-500 */

  color: #525C76 !important;
}
.nav-item {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
  color:#525C76;
}

.nav-item:hover {
color: #8247E5;
}
.nav-link:hover {
  color: #8977db !important;
  }
.circle {
  border-radius: 50%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
padding: 0.7rem;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}

.list-group {
  width: 100%;
}
.icon {
  margin-left: 1rem;
  cursor: pointer;
  color: #343a40;
}
.icon:hover {
  color: #8247E5;
}

.btn-div {
  display: flex;
}
.card-body {
  text-align: center;
}
.card-img {
  margin: 2px auto;
  min-height: 12rem;
  max-height: 13rem;
  width: 19rem;
}

.form-body {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
  min-height: 100%;
}
body {
  background-color: rgba(245, 239, 252, 0.08)
}

.form-img {
  padding: 8% 2.4%;
}
.title-span{
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  color: #37333d;
}
.modal {
  height: 100%;
  align-content: center;
  display: flex;
  align-items: center;
  box-shadow: none;

}
.home-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}
.home-subtitle {
  text-align: left;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: grey;
  margin-bottom: 0rem !important;
}
.icon-span {
  display: flex;
  align-items: center;
}
.place-card {
  max-height: 90%;
    width: 100%;
    background: #faf8fe;
    padding-bottom: 1.2rem;
}

.up-btn {
font-family: 'Poppins';
font-style: normal;

font-weight: 500;
font-size: 12px;
width: 9rem;
height: 3.2rem;

/* identical to box height, or 32px */
cursor: pointer;
border: 1px solid transparent;
/* Solid Colours/Brand/Primary/Primary-500 */
margin:0rem;
color: #FFFFFF;;

/* Solid Colours/Standard/White */

background: #8247E5;
/* Black Shadows/Black E1 */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;
}
.up-btn:hover {
  background: #A673EF;
/* Black Shadows/Black E1 */
border: 1px solid transparent;

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.up-btn:focus-within {
  background: #8247E5;
/* State/Primary Focus */
border: 1px solid transparent;
outline: none;
box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;
}

.down-btn {
font-family: 'Poppins';
font-style: normal;

font-weight: 500;
font-size: 12px;
width: 9rem;
height: 2.5rem;
margin: 1rem 0rem;
/* identical to box height, or 32px */
cursor: pointer;
border: 1px solid transparent;
/* Solid Colours/Brand/Primary/Primary-500 */
background: #FFFFFF;
/* Solid Colours/Brand/Primary/Primary-400 */
color: #8247E5;
border: 1px solid #A673EF;
/* Black Shadows/Black E1 */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;
}
.down-btn:hover {
/* Black Shadows/Black E1 */
border: 1px solid #A673EF;
background: #F9F8FF;
/* Solid Colours/Brand/Primary/Primary-400 */
color: #8247E5;

/* Black Shadows/Black E1 */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.down-btn:focus-within {
  background: #FFFFFF;/* State/Primary Focus */
  border: 1px solid #A673EF;
  outline: none;
color: #8247E5;

box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #DCD4FF;}

.down-btn-active {
  font-family: 'Poppins';
  font-style: normal;
  
  font-weight: 500;
  font-size: 12px;
  width: 9rem;
  height: 2.5rem;
  margin: 1rem 0rem;
  /* identical to box height, or 32px */
  cursor: pointer;
  border: 1px solid transparent;
  /* Solid Colours/Brand/Primary/Primary-500 */
  background: #8247E5;
  /* Solid Colours/Brand/Primary/Primary-400 */
  color: #FFFFFF;
  border: 1px solid #A673EF;
  /* Black Shadows/Black E1 */
  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  }